.material-icons { 
    color: #673ab7 !important;
    margin-right: 10px;
    cursor: pointer;
}

.time { 
    margin-bottom: 10px !important;
    font-style: italic;
}

.text { 
    text-align: center;
    font-size: 18px !important;
}

.disabled { 
    color: #c0c0c0 !important;
}

.no-followers-card {
   
    margin-top: 20px;
    padding: 15px 0px; 
  
    color:#fff;
    text-align: center; 
    font-size: 25px;
    font-weight: bold;
  }