.form__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input-field .prefix.active {
  color: #673ab7;
}

.input-field input:focus + label {
  color: #673ab7 !important;
}
.row .input-field input:focus {
  border-bottom: 1px solid #673ab7 !important;
  box-shadow: 0 1px 0 0 #673ab7 !important;
}

.error {
  color: red;
  padding: 0px !important;
  margin: 0px !important;
}

.text {
  margin-left: 10px !important;
  margin-top: -10px;
  color: #673ab7;
  font-weight: bold;
  text-align: center;
}
