.input-field textarea:focus + label {
  color: #444 !important;
}

.row .input-field textarea:focus {
  border-bottom: 1px solid #444 !important;
  box-shadow: 0 1px 0 0 #444 !important;
}

.title {
  font-weight: bold;
  color: #673ab7;
}

.postDiv {
  background-color: #673ab7;
}

form {
  background-color: #fff;
}

.formDiv {
  margin: 0px 20px 0px 20px;
  padding: 50px 0px;
}

.time {
  font-size: 14px;
  color: #666565;
}

.postBtn {
  float: right;
  margin-bottom: 5px;
}
.card-image {
  max-width: 500px;
  height: auto !important;

  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 15px;
}

/* label focus color */
textarea:focus + label {
  color: #673ab7 !important;
}
/* label underline focus color */
textarea:focus {
  border-bottom: 1px solid #673ab7 !important;
  box-shadow: 0 1px 0 0 #673ab7 !important;
}
