<div class="container">
    <div class="row" >
        <div  class="col s10 offset-1 z-depth-3" id="panel" style="padding: 0 0 25px 0; border-radius: 8px;">
            <h3 id="title">Login</h3>
            <form #f="ngForm" (ngSubmit)="signIn(f)">
    
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">email</i>
                        <input id="email" 
                               type="email" 
                               class="validate" 
                               name="email"
                               ngModel
                               #email="ngModel"                             
                               required
                               pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
                        >
                        <label for="email">Email</label>

                        <span *ngIf="email.hasError('required')"
                        class="helper-text" data-error="Email is required"></span>

                        <span *ngIf="email.hasError('pattern')" 
                        class="helper-text" data-error="Field should contain an email string"></span>

                        <span *ngIf="email.valid" class="helper-text" data-success="Email is Valid!"></span>

                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">vpn_key</i>
                        <input id="password" 
                               type="password" 
                               class="validate"
                               name="password"
                               ngModel
                               #password="ngModel"
                               required
                        >
                        <label for="password">Password</label>

                        <span *ngIf="password.hasError('required')"
                        class="helper-text" data-error="Password is required"></span>

                        <span *ngIf="password.valid" class="helper-text" data-success="Password is Valid!"></span>

                    </div>
                </div>
                <button class="btn waves-effect deep-purple" style="width: 100%;" [disabled]="!f.valid">Enter!</button>
            </form>
        </div>
    </div>
</div>