<nav class="nav-extended deep-purple">
    <div class="container">
        <div class="nav-wrapper">
            <a [routerLink]="['/']" class="brand-logo">Chat App</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                
                  <!------------------------------ CHAT NOTIFICATIONS ------------------------------>

                  <li class="dropdown-trigger chat-notifications" data-target="chat-dropdown" style="background: transparent; margin: 0px 20px;">
                    <i class="fas fa-comment-dots" style="color: white;"></i>
                    <span *ngIf="unreadChatMessages().length > 0" class="nav-label-icon">{{unreadChatMessages().length}}</span>
                    <ul id='chat-dropdown' class='dropdown-content col s12 collection'>
                        <li class="collection-item avatar" *ngFor="let chat of chatList" (click)="markAndGoToChatPage(chat.receiverId._id, chat.receiverId.username)">
                            <img src="https://res.cloudinary.com/dnfm4fq8d/image/upload/v{{chat.receiverId.picVersion}}/{{chat.receiverId.picId}}" class="circle">
                            <span class="title">
                                {{ chat.receiverId.username }}
                                <a class="secondary-content">{{ messageDate(chat.msgId.message[chat.msgId.message.length - 1].createdAt)}}</a>
                            </span>
                            <p>
                                {{ chat.msgId.message[chat.msgId.message.length - 1].body }}
                                <a class="secondary-content" *ngIf="!chat.msgId.message[chat.msgId.message.length - 1].isRead && chat.receiverId.username !== chat.msgId.message[chat.msgId.message.length - 1].receivername">
                                    <i class="material-icons">brightness_1</i>
                                </a>
                                <a class="secondary-content" *ngIf="chat.msgId.message[chat.msgId.message.length - 1].isRead && chat.receiverId.username !== chat.msgId.message[chat.msgId.message.length - 1].receivername">
                                    <i class="material-icons">panorama_fish_eye</i>
                                </a>
                            </p>
                        </li>
                        <li *ngIf="!userNotifications.length" class="collection-item avatar">
                            <img src="http://placehold.it/50x50" class="circle">
                            <a class="text">You Have No Notifications</a>
                        </li>

                        <li>
                            <span>
                                <a (click)="markAllMessagesAsRead()" class="markAll secondary-content btn deep-purple">Mark All As Read</a>
                            </span>
                        </li>

                    </ul>
                </li>


                <!------------------------------ FOLLOW NOTIFICATIONS ------------------------------>

                <li class="dropdown-trigger follow-notifications" data-target="dropdown" style="background: transparent; margin: 0px 20px;">
                    <i class="fas fa-bell" style="color: white;"></i>
                    <span *ngIf="unreadNotifications().length > 0" class="nav-label-icon">{{unreadNotifications().length}}</span>
                    <ul id='dropdown' class='dropdown-content col s12 collection'>
                        <li class="collection-item avatar" *ngFor="let notification of userNotifications">
                            <img src="https://res.cloudinary.com/dnfm4fq8d/image/upload/v{{notification.senderId.picVersion}}/{{notification.senderId.picId}}" class="circle">
                            <span
                                [ngClass]="{'isRead': notification.read, 'unread': !notification.read}">{{notification.message}}</span>
                            <p class="time">{{fromNow(notification.created)}}</p>
                        </li>
                        <li *ngIf="!userNotifications.length" class="collection-item avatar">
                            <img src="http://placehold.it/50x50" class="circle">
                            <a class="text">You Have No Notifications</a>
                        </li>

                        <li>
                            <span>
                                <a (click)="markAll()" class="markAll secondary-content btn deep-purple">Mark All As Read</a>
                            </span>
                        </li>

                    </ul>
                </li>

                  <!------------------------------ LOGOUT ------------------------------------------>

                <li><a (click)="logout()" id="logout__button">Logout</a></li>
            </ul>
        </div>
        <div *ngIf="showNavContent" class="nav-content">
            <div class="nav-div">
                <img src="{{userService.getUserProfilePic(userData)}}" alt={{username}} style="object-fit: cover;">
            </div>
            <h1 class="profile-name">{{ username | specialChar}}</h1>
            <p class="user-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero, aut.</p>
        </div>
    </div>
</nav>