<nav class="nav-extended deep-purple">
    <div class="container">
        <div class="nav-wrapper">
            <a [routerLink]="['/']" class="brand-logo">Chat App</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li class="dropdown-trigger" data-target="dropdown" style="background: transparent">
                    <i class="fas fa-bell" style="color: white;"></i>
                    <span *ngIf="unreadNotifications().length > 0" class="nav-label-icon">{{unreadNotifications().length}}</span>
                    <ul id='dropdown' class='dropdown-content col s12 collection'>
                        <li class="collection-item avatar" *ngFor="let notification of userData">
                            <img src="http://placehold.it/50x50" class="circle">
                            <span
                                [ngClass]="{'isRead': notification.read, 'unread': !notification.read}">{{notification.message}}</span>
                            <p class="time">{{fromNow(notification.created)}}</p>
                        </li>
                        <li *ngIf="!userData.length" class="collection-item avatar">
                            <img src="http://placehold.it/50x50" class="circle">
                            <a class="text">You Have No Notifications</a>
                        </li>

                        <li>
                            <span>
                                <a (click)="markAll()" class="markAll secondary-content btn deep-purple">Mark All As Read</a>
                            </span>
                        </li>

                    </ul>
                </li>
                <li><a (click)="logout()">Logout</a></li>
            </ul>
        </div>
        <div *ngIf="showNavContent" class="nav-content">
            <div class="nav-div">
                <img class="circle responsive-img" src="http://placehold.it/50x50" alt="">
            </div>
            <h1 class="profile-name">{{ username | specialChar}}</h1>
            <p class="user-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero, aut.</p>
        </div>
    </div>
</nav>