<ul class="collection col s12 m12 l10" *ngFor="let post of posts; let i = index">
    <li class="collection-item avatar">
        <img *ngIf="post.user.picVersion && post.user.picId"
            src="https://res.cloudinary.com/dnfm4fq8d/image/upload/v{{post.user.picVersion}}/{{post.user.picId}}"
            class="circle">
        <span style="font-weight: bold; color:#673ab7">{{post.username}}</span>
        <span *ngIf="post.user._id === userId" class="edit modal-trigger" data-target="modal1"  (click)="postModalService.openDialog(post)">
            Edit
        </span>
        <p *ngIf="post.createdAt == post.updatedAt" class="time ">{{ timeFromNow(post.createdAt) }}<br>
            {{post.user.city}} {{post.user.country}}
        </p>
        <p *ngIf="post.createdAt != post.updatedAt" class="time ">{{ timeFromNow(post.updatedAt) }}<br>
            {{post.user.city}} {{post.user.country}}
        </p>
    </li>

    <div class="row">
        <div class="col s12">
            <div class="card">

                <div *ngIf="post.image" class="card-image">
                    <img class="postImage" [src]="post.image" alt="">
                </div>

                <div class="card-content">
                    <p>{{ post.post }}</p>
                </div>

                <div class="card-action">

                    <i (click)="likedPost(post)" class="material-icons"
                        [ngClass]="{ 'notLiked' : (!checkInLikesArray(post.likes)), 'liked': (checkInLikesArray(post.likes))}">
                        thumb_up</i>
                    <span class="iconSpan">{{post.totalLikes}}</span>

                    <i class="material-icons"
                        [ngClass]="{ 'notLiked' : (!checkInLikesArray(post.comments)), 'liked': (checkInLikesArray(post.likes))}"
                        (click)="openCommentBox(post)">chat</i>
                    <span class="iconSpan">{{post.comments.length}}</span>

                </div>
            </div>
        </div>
    </div>

</ul>

<!-- 
<div class="container">
    <div id="modal1" class="modal">
        <div class="modal-content">
            <h4>Edit Post
            <button (click)="deletePost()" class="secondary-content waves-effect waves-light btn red">
                Delete Post
            </button>
            </h4>
            <p>PostValue</p>
            <form [formGroup]="editForm" (ngSubmit)="submitEditedPost()">
                <textarea formControlName="editedPost" class="materialize-textarea"></textarea>
                <div class="modal-footer">
                    <button type="button" (click)="closeModal()" class="btn deep-purple">Close</button> &nbsp;
                    <button type="submit" class="btn deep-purple">Save</button>
                </div>
            </form>
        </div>
    </div>
</div> -->