.card-image {
  display: block;
  margin: 0 auto;
  padding: 10px 0px;
}

.button {
  background: none !important;
  border: none !important;
  height: 10px;
}

.liked {
  color: #673ab7 !important;
}

.notLiked {
  color: #222 !important;
}

.time {
  font-size: 14px;
  color: #666565;
}

.edit {
  float: right;

  cursor: pointer;

  font-weight: bold;
  color: #673ab7;
}

.iconSpan {
  font-size: 18px;
  line-height: 18px;
  margin-right: 5px;
}

.material-icons {
  display: inline-flex;
  vertical-align: top;
  cursor: pointer;
}

.postImage {
  width: 100% !important;
  margin: 0 auto !important;
  left: 0 !important;
  top: 10px !important;
}

.card-image {
  max-width: 90%;
  height: auto !important;
}

.active {
  width: 350px !important;
  height: 350px !important;
  border-radius: none !important;
  margin: -150px 0px 0px 120px !important;
}

.collection {
  border: none !important;
}

.collection-item {
  border: none !important;
}
/* icon prefix focus color */
.input-field .prefix.active {
  color: #673ab7;
}

/* label focus color */
.input-field input[type='text']:focus + label,
.materialize-textarea:focus:not([readonly]) + label {
  color: #673ab7 !important;
}

/* label underline focus color */
.input-field input[type='text']:focus,
.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #673ab7 !important;
  box-shadow: 0 1px 0 0 #673ab7 !important;
}
